<% if (page.thumbnail) { %>
  <div id="article-banner" style="background: url('<%- page.thumbnail %>') center/cover;">
<% } else { %>
  <div id="article-banner" class="no-banner">
<% } %>
  <%- partial('_partial/post/article-info') %>
</div>
<article id="article">
  <%- partial('_plugin/common/toc') %>
  <%- page.content %>
  <%- partial('_partial/post/article-footer') %>
</article>
<%- partial('_plugin/common/pagination/post-paginator') %>
<%- partial('_plugin/comment/' + theme.comment.use + '/main') %>
