<div class="article-info">
  <div>
    <h1 class="article-title"><%= page.title %></h1>

    <% if (page.categories && page.categories.length){ %>
      <span><%- partial('_components/categories', {item: page}) %></span>
    <% } %>
    <span><%- date(page.date, "YYYY-MM-DD") %> </span>
    <% if (theme.comment.use === 'disqus') { %>
      <a class="disqus-comment-count" data-disqus-url="<%= page.permalink %>"></a> <%= __('Post.comments') %>
    <% } %>
  </div>
</div>
