<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <main id="main">
      <%- body %>
    </main>
    <% if (!is_archive()) { %>
      <%- partial('_partial/footer') %>
    <% } %>
    <!-- <footer>
      <%- partial('_partial/footer') %>
    </footer> -->
  </body>
</html>