<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <% if (is_post()) { %>
      <%- partial('_partial/post-header') %>
    <% } else { %>
      <%- partial('_partial/header') %>
    <% } %>
    <main id="main">
      <%- body %>
    </main>
    <!-- <% if (!is_archive()) { %>
      <%- partial('_partial/footer') %>
    <% } %> -->
    <%- partial('_partial/footer') %>
  </body>
</html>