<header style="background: url('<%- theme.basic.site_banner %>') center/cover;">
    <div id="site-branding">
        <a href="<%- url_for() %>">
            <h1 id="site-title"><%= config.title %></h1>
            <p id="site-description"> <%= config.description %> </p>
        </a>
    </div>
    <%- partial('_partial/navigation') %>
</header>