<header style="background: url('<%- theme.basic.site_banner %>') center/cover">
  <%- partial('_partial/navigation') %>
  <div id="site-branding">
    <a href="<%- url_for() %>">
      <h1 id="site-title"><%= config.title %></h1>
      <p id="site-description"><%= config.description %></p>
    </a>
  </div>
</header>
