<footer>
    <div class="soical-icon">
        <% for (let item in theme.social) { %>
            <% let social = theme.social[item]; %>
            <a href="<%- url_for(social.url) %>" class="iconfont <%= social.icon %>"></a>
        <% } %>
    </div>
    <p>Copyright © <%= theme.footer.copyright_since %> <%= config.title %></p>
    <% if (theme.footer.custom_text !== null) { %>
        <div><%- theme.footer.custom_text %></div>
    <% } %>
    <p>Power by <a href="https://hexo.io/" target="_blank">Hexo</a> Theme by <a href="https://blog.xiwu.li" target="_blank">Escape</a></p>
</footer>