<nav id="nav-bar">
  <div class="nav-bar-container">
    <a href="/"><img class="nav-bar-logo" src="<%- url_for(theme.basic.logo) %>" alt="webseit-logo"></a>
    <div class="nav-bar-menu">
      <div class="nav-bar-left">
        <% for (name in theme.menu) { %>
          <a class="menu-item-link" href="<%- url_for(theme.menu[name]) %>">
            <%- name %>
          </a>
        <% } %>
      </div>
      <div class="nav-bar-right">
        <%- partial('_components/search') %>
        <%- partial('_components/switch-mode') %>
      </div>
    </div>
  </div>
</nav>
