<div class="post-footer">
  <div>
    <img class="avatar" src="<%- theme.basic.avatar %>"></img>
    <span class="post-label"><%- date(post.date, "YYYY-MM-DD") %>
      <% if (post.categories && post.categories.length) { %>
        ·
        <%- partial('_plugin/common/categories', {item: post}) %>
      <% } %>
    </span>
  </div>
  <div>
    <% post.tags.each(function(tag, index) { %>
      <a class="post-tags-item" href="<%= url_for(tag.path) %>" rel="tag">#&nbsp;<%= tag.name %></a>
    <% }); %>
  </div>
</div>
